# Python
venv/
__pycache__/
*.pyc

# Env files
.env
.env.*
!.env.example
!.env.production

# Node
node_modules/
dist/
build/

# Logs
*.log

# OS
.DS_Store

# Docker
*.db

# IDE
.vscode/
.idea/

# Local tools
minikube-linux-amd64